<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.product.mapper.ProductReviewMapper">
	<select id="productReply"
		resultType="com.exam.product.vo.ReplyVO"
		parameterType="com.exam.product.vo.ReplyVO">  	
    	    
		SELECT prodreply_table.* 
		FROM(
			SELECT rownum rn, p3.rev_no, p3.star_point, p3.rev_title, p3.rev_create,
					p3.rev_content, p3.user_id, p3.pay_no
			FROM PRODUCTS p JOIN PAYMENTS p2 ON p.prod_no = p2.prod_no
							JOIN PRODREPLY p3 ON p2.pay_no = p3.pay_no
			WHERE p.prod_no = #{prodNo}) prodreply_table	
		WHERE prodreply_table.rn >=(#{page}-1)*5+1
    	AND prodreply_table.rn <![CDATA[<=]]> #{page}*5
	</select>
	<!-- 총페이지수 -->
	<select id="replyTotalCnt" parameterType="com.exam.product.vo.ReplyVO" resultType="int">
	SELECT COUNT(1) cnt 
	FROM PRODUCTS  p JOIN PAYMENTS p2 ON p.prod_no = p2.prod_no
							JOIN PRODREPLY p3 ON p2.pay_no = p3.pay_no
	WHERE p2.prod_no = #{prodNo} 
	
	</select>

	<select id="payOK" parameterType="com.exam.product.vo.ReplyVO" resultType="int">
	SELECT COUNT(*)
	FROM payments
	WHERE prod_no=#{prodNo} AND user_id=#{userId}
	</select>
	
	<insert id="replyAdd" parameterType="com.exam.product.vo.ReplyVO">
	INSERT INTO prodReply(rev_no, 
						  star_point, 
						  rev_title, 
						  rev_create, 
						  rev_content, 
						  user_id,
						  pay_no)
		VALUES(
				(SELECT NVL(MAX(rev_no),0) + 1 FROM prodreply), 
				#{starPoint}, 
				#{revTitle}, 
				sysdate, 
				#{revContent}, 
				#{userId},
				 (SELECT MAX(pay_no)
				  FROM payments
				  WHERE user_id =#{userId} AND prod_no=#{prodNo}))
	
	</insert>
	
	<insert id="addCart" parameterType="com.exam.cart.vo.CartVO">
	INSERT INTO carts(cart_no, user_id, prod_no)
	VALUES((SELECT NVL(MAX(cart_no),0) + 1 FROM carts), #{userId}, #{prodNo})
	</insert>
	
</mapper>