<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.test.mapper.ProdListMapper">
	<select id="ProdList" resultType="prodvo"
		parameterType="com.exam.test.vo.ProdListVo">
		
		SELECT a.*
		  FROM (SELECT
		  <choose>
		  <when test="asc.equals('') and  priceAsc.equals('')">
		  	ROW_NUMBER() OVER (ORDER BY create_date DESC) rn,
		  </when>
		   <when test="asc.equals('1'.toString())">
		     ROW_NUMBER() OVER (ORDER BY prod_name ASC) rn,
		     </when>
		     <when test="asc.equals('0'.toString())">
		     ROW_NUMBER() OVER (ORDER BY prod_name DESC) rn,
		     </when>
		     <when test="priceAsc.equals('1'.toString())">
		     ROW_NUMBER() OVER (ORDER BY price ASC) rn,
		     </when>
		     <when test="priceAsc.equals('0'.toString())">
		     ROW_NUMBER() OVER (ORDER BY price DESC) rn,
		     </when>
		    </choose>
						prod_no,
						prod_name,
						price,
						content,
						create_date,
						image,
						pdf,
						count,
						user_id,
						category_no 
			  FROM products ) a
			  <if test="!prodName.equals('')"> 
			  where prod_name like '%' ||#{prodName} || '%'
			  </if>
			WHERE a.rn>(#{page}- 1)*8
		AND a.rn <![CDATA[<=]]> #{page} *8	</select>

	<insert id="ProdInsert" parameterType="prodvo">
		insert into products
		(prod_no, prod_name, content, user_id, price, page, image)
		values((select
		max(prod_no) +1 from products),
		#{prodName},#{content},#{userId},#{price},#{page},#{image})
	</insert>

	<select id="totalPage" parameterType="String" resultType="int">
		SELECT count(1)
		FROM products
		<if test="!prodName.equals('')">
			where prod_name like '%' || #{name} || '%'
		</if>
	</select>


</mapper>