<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.test.mapper.ProdListMapper">
	<select id="ProdList" resultType="prodvo"
		parameterType="com.exam.test.vo.ProdListVo">
		
		SELECT a.*
		FROM (SELECT /*+ INDEX_DESC (r PK_PRODUCTS) */
						rownum rn,
						prod_no,
						prod_name,
						price,
						content,
						create_date,
						image,
						pdf,
						count,
						user_id,
						category_no
			  FROM products
			  <if test="!prodName.equals('')">
			  where prod_name like '%' ||#{prodName} || '%'
			  </if>
		<choose>
			<when test="asc.equals('1'.toString())">
				ORDER BY prod_name ASC
			</when>
			<when test="asc.equals('0'.toString())">
				ORDER BY prod_name DESC
			</when>
			<when test="priceAsc.equals('1'.toString())">
				ORDER BY price ASC
			</when>
			<when test="priceAsc.equals('0'.toString())">
				ORDER BY price DESC
			</when>
		</choose>
			  ) a
			WHERE a.rn>(#{page}- 1)*8
		AND a.rn <![CDATA[<=]]> #{page} *8	</select>

	<insert id="ProdInsert" parameterType="prodvo">
		insert into products
		(prod_no, prod_name, content, user_id, price)
		values((select
		max(prod_no) +1 from products),
		#{prodName},#{content},#{userId},#{price})
	</insert>

	<select id="totalPage" parameterType="String" resultType="int">
		SELECT count(1)
		FROM products
		<if test="!prodName.equals('')">
			where prod_name like '%' || #{prodName} || '%'
		</if>
	</select>


</mapper>