<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.qna.mapper.QnaMapper">
 
 <select id="qnaList" parameterType="com.exam.qna.vo.SearchVO" resultType="com.exam.qna.vo.QnaVO">
 	SELECT qna_table.*
   FROM(SELECT <choose>
              <when test="orderBy.equals('')">
              ROW_NUMBER() OVER (ORDER BY qna_no DESC) rn,
              </when>
               <when test="orderBy.equals('search')">
               ROW_NUMBER() OVER (ORDER BY qna_cnt DESC) rn,
              </when>
               <when test="orderBy.equals('fast')">
               ROW_NUMBER() OVER (ORDER BY qna_create DESC) rn,
              </when>
               <when test="orderBy.equals('last')">
               ROW_NUMBER() OVER (ORDER BY qna_create ASC) rn,
              </when>
           </choose>
                       qna_no,
                       qna_title,
                       qna_content,
                       qna_create,
                       user_id,
                       c.category_no,
                       qna_cnt,
                       category_name
                      
          FROM qna q JOIN category c 
                           ON(q.category_no = c.category_no)
         <where>
         <choose>
            <when test="searchCondition.equals('title')">
                AND qna_title LIKE '%'||#{keyword}||'%'
            </when>
            <when test="searchCondition.equals('content')">
            	 AND qna_content LIKE '%'||#{keyword}||'%'
            </when>
            <when test="searchCondition.equals('writer')">
            	 AND qna_writer LIKE '%'||#{keyword}||'%'
            </when>
         </choose>
          <choose>
          
            <when test="!category.equals('')">
                AND q.category_no=#{category}
            </when>
          </choose>
         </where>
           
         ) qna_table
    WHERE qna_table.rn >=(#{page}-1)*10+1
    AND qna_table.rn <![CDATA[<=]]> #{page}*10
    
 </select>
 <!-- 총페이지수 -->
<select id="totalCnt" parameterType="com.exam.qna.vo.SearchVO" resultType="int">
	SELECT COUNT(1) cnt 
	FROM qna
	<where>
         <choose>
            <when test="searchCondition.equals('title')">
                AND qna_title LIKE '%'||#{keyword}||'%'
            </when>
            <when test="searchCondition.equals('content')">
            	 AND qna_content LIKE '%'||#{keyword}||'%'
            </when>
            <when test="searchCondition.equals('writer')">
            	 AND qna_writer LIKE '%'||#{keyword}||'%'
            </when>
         </choose>
          <choose>
          
            <when test="!category.equals('')">
                AND category_no=#{category}
            </when>
          </choose>
         </where> 
 </select>
 <!-- category가져오기 -->
 <select id="categoryList" resultType="com.exam.qna.vo.QnaVO">
   SELECT category_name,category_no
   FROM category
   
 </select>
 
 <insert id="qnaAdd" parameterType="com.exam.qna.vo.QnaVO" >
    INSERT INTO qna 
    VALUES((SELECT MAX(TO_NUMBER(NVL(qna_no,0)))+1 FROM qna),
             #{qnaTitle},
             #{qnaContent},
             sysdate,
             0,
             #{userId},
             #{categoryNo})
 </insert>
 <select id="qnaDetail" parameterType="int" resultType="com.exam.qna.vo.QnaVO">
 	SELECT    qna_title,
              qna_content,
              qna_create,
              user_id,
              qna_no,
              qna_cnt      
    FROM qna
    WHERE qna_no=#{qnaNo} 
          
 </select>
  <delete id="qnaDelete" parameterType="int">
    DELETE FROM qna
    WHERE qna_no=#{qnaNo} 
  </delete>
   <select id="qnaReplyList" parameterType="com.exam.qna.vo.QnaVO" resultType="com.exam.qna.vo.QnaVO">
       SELECT a.*
    FROM(SELECT /*+ INDEX_DESC (r PK_QNAREPLY)*/ 
           	  ROWNUM rn,
           	  qna_revno,
           	  qna_content,
           	  user_id,
              qna_revdate,
         	  qna_no
       	   FROM qnareply 
      	   WHERE qna_no = #{qnaNo}
      	   ORDER BY TO_NUMBER(qna_revno) DESC
      	   ) a
     WHERE a.rn >=(#{page}-1)*5+1
   	 AND a.rn <![CDATA[<=]]> #{page}*5
   </select>
  <select id="replyTotalCnt" parameterType="int" resultType="int">
	SELECT COUNT(1) cnt 
	FROM qnareply
	WHERE qna_no= #{qnaNo}
 </select>
 
 <update id="cntUpdate" parameterType="int">
   update qna 
   set qna_cnt = qna_cnt +1
   WHERE qna_no =#{qnaNo}
 </update>
 <insert id="qnaReplyAdd" parameterType="com.exam.qna.vo.QnaVO">
   INSERT INTO qnaReply(qna_revno,
                  		 qna_content,
                   		user_id,
                  		 qna_revdate,
                  		 qna_no)
     VALUES(
     		(SELECT MAX(TO_NUMBER(NVL(qna_revno,0)))+1 FROM qnaReply), 
     		#{qnaContent},
     		#{userId},
     		sysdate,
     		#{qnaNo}
            )
 </insert>
  
  <delete id="deleteReply" parameterType="int">
    DELETE FROM qnaReply
    WHERE qna_no=#{qnaNo}
  </delete>
</mapper>