<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exam.mypage.mapper.MypageMapper">

	<select id="userqna" resultType="com.exam.qna.vo.QnaVO"
		parameterType="String">
		select q.QNA_NO,
		q.QNA_TITLE,
		q.QNA_CONTENT,
		q.QNA_CREATE,
		q.QNA_CNT,
		q.USER_ID,
		c.category_name,
		q.CATEGORY_NO
		from qna q join
		category c on(q.CATEGORY_NO=c.CATEGORY_NO)
		where user_id= #{loginId}
	</select>

	<select id="mypagecarts" resultType="com.exam.cart.vo.CartVO"
		parameterType="String">
		select c.cart_no,
		m.user_id,
		c.prod_no,
		p.prod_name,
		p.price,
		p.image
		from carts c join members m on(c.user_id=m.user_id)
		join products p on(c.prod_no=p.prod_no)
		where m.user_id=#{loginId}
	</select>

	<select id="mypagepayment"
		resultType="com.exam.payment.vo.PaymentVO" parameterType="String">
		select
		pay.PAY_NO,
		pay.PRICE,
		pay.prod_no,
		pro.prod_name,
		pay.pay_date,
		pay.user_id,
		pro.pdf,
		c.category_name,
		pro.count
		from payments pay join
		products pro on(pay.prod_no=pro.prod_no)
		join category c
		on(pro.CATEGORY_NO=c.CATEGORY_NO)
		where pay.user_id=#{loginId}
	</select>

	<update id="signout" parameterType="String">
		update members
		set
		OUT_TYPE='yes'
		where user_id=#{loginId}
	</update>

	<select id="searchid" resultType="com.exam.idpw.vo.IdpwVO">
		select user_id,password
		from
		members
		where user_name=#{name}
		and birth=#{birth}
		and email=#{email}
	</select>

	<select id="members" resultType="member">
		select *
		from members
	</select>

	<select id="outmembers" resultType="member">
		select *
		from members
		where out_type='yes'
	</select>


</mapper>