<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>

<!-- 색 넣어주는 기능 -->
<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%boldGreen(%5level) %boldGreen([%thread]) - %boldGreen(%msg%n)</pattern>
    </encoder>
  </appender>
  
  <!-- 모든 로그 남기기 -->
  <logger name="com.exam" level="DEBUG"/>  
  <logger name="jdbc.resultsettable" level="DEBUG" />
  <logger name="jdbc.sqltiming" level="DEBUG" />
  
  <!-- 콘솔에 log가 찍힘 -->
   <root level="error">
    <appender-ref ref="stdout"/>
  </root>

</configuration>