<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.admin.mapper.AdminMapper">
  <!-- 캘린더 조회문 -->
   <select id="fullData" resultType="map">
   	SELECT title AS "title"
   		  ,start_date AS "start"
   		  ,end_date AS "end"  
   	FROM calander
   </select>
    <!-- 캘린더 삭제 -->
   	<delete id="deleteEvent" parameterType="String">
   		DELETE FROM calander
		WHERE TITLE=#{title}
		  AND START_DATE =#{start}
		  AND END_DATE=#{end}
   	</delete>
   	<!-- 캘린더 등록 -->
   	<insert id="insertEvent" parameterType="String">
   		INSERT INTO calander (title,start_date,end_date)
   		VALUES (#{title},#{start},#{end})
   	</insert>
   	
   	<select id="todayMake" parameterType="int">
   	  SELECT count(*)
		FROM products
	   WHERE create_date = sysdate
   	</select>
   	<select id="todayRelease" parameterType="int">
   	 SELECT NVL(sum(r.price),0)
	 FROM payments p JOIN products r
                       ON(p.prod_no= r.prod_no)
	 WHERE TO_DATE(p.pay_date,'rr/mm/dd') = TO_DATE(sysdate,'rr/mm/dd')
     AND pay_type='success'
   	</select>
   	<select id="totalMember" parameterType="int">
   	  SELECT count(*)
	  FROM members
	  WHERE user_type='user'
   	</select>
   	<select id="todayStore" parameterType="int">
   	  SELECT count(*)
  	  FROM products
   	</select>
</mapper>